*{
    margin: 0;
    padding: 0;
}

.login{
    width: 80%;
    float: right;
}

.login-form{
    margin-top: 15px;
    text-align: right;
    margin-right: 80px;
}

.custom-login{
    width: 200px;
    height: 25px;
    border: 0px solid;
    border-radius: 5px;
}

.btn-login{
    background: transparent;
    width: 40px;
    height: 30px;
    border: 1.2px solid blue;
    border-radius: 5px;
}